
<div class="wrapper">
  <mat-card>
    <mat-card-header style="color:#3f51b5">
      <h3 >Register</h3>
    </mat-card-header>
    <form [formGroup]= "registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="fluid" style="width: 100%;" >
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName= "name">
      <mat-error *ngIf="registrationForm.touched">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" style="width: 100%;">
      <mat-label >Email</mat-label>
      <input type="email" matInput placeholder="example@gmail.com" formControlName="email">
      <mat-error *ngIf="registrationForm.touched">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" style="width: 100%;">
      <mat-label >Password</mat-label>
      <input type="password" matInput placeholder="password" formControlName= "password">
      <mat-error *ngIf="registrationForm.touched">Password is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" style="width: 100%;">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput placeholder="Confirm Password" formControlName="cpassword">
      <mat-error *ngIf="registrationForm.touched">Confirm Password is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" style="width: 100%;">
      <mat-label>Telephone</mat-label>
      <input type="tel" matInput placeholder="555-555-1234" formControlName="mobile">
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-right: 10px" [disabled]="!registrationForm.valid"  >Save</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </form>
  </mat-card>
</div>
