.ng-touched.ng-invalid{
  border-color: red;
}
.error-block{
  color: red;
}

mat-card{
  min-height: 79vh;
  max-height: 79vh;
  margin: auto !important;
  background-color: rgb(234, 239, 244);
}

.photo-box{
  margin-top: 1%;
  height: 50vh;
  border: 1px solid blue;
  border-style: dotted;
  .photo-control{
    margin-left: 3%;
    text-align: center;
  }

}

