<!-- dialog -->
<h1 mat-dialog-title>{{modelHeading}}</h1>
<div mat-dialog-content>
  <form>
    <div class="row">
      <div class="col-6">
        <mat-form-field >
          <mat-label>Inspection Type</mat-label>
          <mat-select >
            <mat-option *ngFor="let type of inspectionTypeList$|async" >
            {{type.inspectioName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field >
          <mat-label>Status</mat-label>
          <mat-select >
            <mat-option *ngFor="let status of statusList$|async" >
            {{status.statusOption}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 ">
        <mat-form-field class="w-100" >
          <mat-label>Comment</mat-label>
          <textarea matInput  matTextareaAutosize matAutosizeMinRows="3"
                    matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
    </div>

</form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
